body {margin: 0;}

.partners, .work, .footer {
	width: 100%;
}

header {
	height: 70px;
	background: blue;
	width: 100%;
}

.pic-wrap {
	background: gray;
	height: 310px;
	width: 930px;
	margin: 0 auto;
	box-sizing: border-box;
}
.picture, .pitch {
	display: inline-block;
	float: left;
	color: white;
	margin-left: 10px;
	box-sizing: border-box;
}
.picture {
	background: blue;
	height: 30px;
	width: 50px;
	color: white;
	margin-left: 40px;
	margin-top: 5px;
	}
.img-circle {
	border-radius: 50%;
}

.pitch {
	background: gray;
	height: 280px;
	width: 480px;
	color: white;
	margin-left: 250px;
	margin-top: 20px;
	padding-left: 5px;
}
.partners {
	height: 100px;
	background: orange;

}
.work {
	height: 500px;
	background: red;
}

.footer {
	background: purple;
	height: 20px;
}
.content-wrapper {
	width: 930px;
	background: white;
	height: 40px;
	margin: 0 auto;
}
a.menu:hover {
	color: black;
	background-color: #D6D6D0;
	padding-top: 10px;
	padding-bottom: 12px;
}
.hire {
	height: 30px;
    width: 70px;
    border: 2px solid black;
    background-color: green;
    box-shadow: 5px 5px 5px #888;
    border-radius: 50%;
    color: white;
    margin-top: 5px;
    text-align: center;
}
nav, #main-logo, .hire {
	display: block;
	float: left;
	margin-left: 10px;
	padding-top: 10px;

}
nav {
	margin-left:  500px;
	height: 30px;
	background-color: white;
	padding-top: 10px;
}