h1 {
	color:red;
}

p {
	color:green;
}
em {
	color:red;
}
u {
	background-color: red;
	color:yellow;
}
.first {
	background-color: #000777;
}
.second {
	color:black;
	background-color: #000888;
}
.third {
	background-color: #000666;
}